version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: ./deployment/Dockerfile.backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    env_file:
      - ../backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ..
      dockerfile: ./deployment/Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
