name: Deploy Website dengan CI/CD

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # JOB 1: CI (Continuous Integration) - TAHAP PENGECEKAN
  kualitas-kode:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Robot pengecek HTML
      # Jika ada tag HTML yang salah/typo, proses akan berhenti di sini (Gagal)
      - name: Validasi HTML
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: . # Mengecek folder root
          exclude: 'node_modules' # Abaikan folder ini jika ada

  # JOB 2: CD (Continuous Deployment) - TAHAP TAYANG
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    # PERINTAH PENTING: Job ini menunggu job 'kualitas-kode' selesai dulu
    needs: kualitas-kode 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
